<h2>
  Cart
  <h2>
    <div *ngIf="!checkoutCompleted">
      <h3>Total: {{ cart.amount | currency }}</h3>
      <h3>Currently in Cart:</h3>
      <div class="product-container">
        <ul *ngIf="cart.items.length > 0; else elseBlock" class="product-index">
          <li *ngFor="let product of cart.items" class="cart-item">
            <h3 class="row" routerLink="/detail/{{ product.product_id }}">
              {{ product.name }}
            </h3>
            <div class="row">{{ product.description }}</div>
            <div class="row">{{ product.price | currency }}</div>
            <img
              class="row"
              src="{{ product.url }}"
              alt="{{ product.name }}"
              width="100"
              height="100"
            />
            <button
              mat-button
              color="accent"
              class="row"
              (click)="delete(product)"
            >
              Remove from Cart
            </button>
          </li>
        </ul>
        <ng-template #elseBlock>
          <div class="empty-cart-message">No items in cart.</div>
        </ng-template>
      </div>
      <button mat-button color="accent" routerLink="/products">
        Return to Home
      </button>
      <button
        mat-button
        color="accent"
        [disabled]="cart.items.length === 0"
        (click)="checkout()"
      >
        Checkout
      </button>
      <button mat-button color="accent" (click)="logOut()">Log Out</button>
    </div>
    <app-order-form
      [display]="checkingOut"
      [options]="options"
      [order]="order"
      (customerNameEvent)="getName($event)"
      class="form-margin"
    ></app-order-form>
    <app-confirmation
      [completed]="checkoutCompleted"
      [name]="customerName"
      [cart]="cart"
    ></app-confirmation>
  </h2>
</h2>
