<div *ngIf="completed" class="confirmation-container">
  <h2>Checkout Success!</h2>

  <h3>Thank you, {{ name }}, for placing your order with MyStore.</h3>
  <h4>Order Details:</h4>
  <div>
    <ul class="confirmation-items">
      <li *ngFor="let product of cart.items" class="confirmation-items">
        <h3 routerLink="/detail/{{ product.product_id }}">
          {{ product.name }}
        </h3>
        <div>{{ product.description }}</div>
        <div>{{ product.price | currency }}</div>
        <img
          src="{{ product.url }}"
          alt="{{ product.name }}"
          width="100"
          height="100"
        />
      </li>
    </ul>
  </div>
  <button mat-button color="accent" routerLink="/products" (click)="clearCart()">
    Return Home
  </button>
</div>
