<h2>Product List</h2>
<h2 routerLink="/cart">Cart
    <div *ngIf="cart">{{cart.amount | currency}}</div>
</h2>
<div class="product-container">
    <ul class="product-index">
        <li routerLink="/detail/{{product.id}}"
        *ngFor="let product of products">
            <h3>{{product.name}}</h3>
            <div>{{product.id}}</div>
            <div>{{product.description}}</div>
            <div>{{product.price | currency}}</div>
            <img src={{product.url}} alt={{product.name}} width="100" height="100"/>
            <button (click)="addToCart(product)">Add To Cart</button>
        </li>
    </ul>
</div>